---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
    <main class="container mx-auto my-8">
			<div class="grid grid-cols-2 gap-8">
					<div class="col-span-1">
							<h2 class="text-4xl font-bold">
									About Us
							</h2>
							<p class="text-lg font-medium">
									To provide an energetic medium of communication for Saratogans to EXPRESS and VIEW the diversified talents and interests within the community, being freely available to the Public, their schools, and their Government.
							</p>
					</div>
					<div class="col-span-1 flex justify-center items-center">
							<!-- Replace 'your-image-url.jpg' with the actual URL of your image -->
							<img src="./saratoga.jpg" alt="Image" class="w-full h-auto">
					</div>
					<div class="col-span-2">
							<h2 class="text-4xl font-bold">
									Our Mission
							</h2>
							<p class="text-lg">
									To inform, educate, and entertain, and be available to all for the free expression of opinion.
							</p>
					</div>
			</div>
	</main>
		<Footer />
	</body>
</html>
